<%- include("./head") %>
<h2>Entrada de productos</h2>
<form action="/api/productos/" method="POST">
    <label for="title">Ingresa el nombre del producto:</label>
    <input type="text" name="title" id="title" class="form-control">
    <br>
    <label for="price">Ingresa el precio del producto:</label>
    <input type="text" name="price" id="price" class="form-control">
    <br>
    <label for="thumbnail">Ingresa el url de la imagen: </label>
    <input type="text" name="thumbnail" id="thumbnail" class="form-control">
    <br>
    <button>Guardar</button>
</form>

<a href="/api/productos/productos"><button>Ir al inventario</button></a>