<%- include("./head") %>
<h1>Listado de productos</h1>

<div class="list-group w-auto">
    <% productos.forEach(producto => { %>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="<%= producto.thumbnail %>" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0"><%= producto.title %></h6>
                    <p class="mb-0 opacity-75">Placeholder en caso de añadir descripción</p>
                </div>
                <small class="opacity-50 text-nowrap">$<%= producto.price %></small>
            </div>
        </a>
    <% }); %>
</div>

<a href="/api/productos/"><button type="button" class="btn btn-primary">Formulario de entrada</button></a>